/* Specialities section */
.specialties {
  background: #ffffff;
  padding: 60px 0 80px;
}

.specialties-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 60px;
}

.specialties-title {
  text-align: center;
  font-size: 45px;
  font-weight: 800;
  color: #1E5542;
  margin-bottom: 60px;
  line-height: 100%;
}

.specialties-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 50px 70px;
}

.specialty-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.specialty-card img {
  width: 100%;
  max-width: 566px;
  height: auto;
  border-radius: 2px;
  margin-bottom: 14px;
  box-shadow: 2px 4px 4px 0px #00000033;
}

.specialty-card h3 {
  font-size: 35px;
  font-weight: 700;
  color: #1E5542;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 100%;
}


.btn-vermas {
  display: inline-block;
  padding: 12px 20px;
  background: linear-gradient(to right, #1E5542, #C1DD9E);
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: 0px 4px 4px 0px #00000033;
  transition: background-color 0.3s ease;
}

.btn-vermas:hover,
.btn-especialidades:hover {
  filter: brightness(0.95);
  transform: translateY(-1px);
}


.specialty-p {
  font-size: 25px;
  color: #173F72;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Responsive */
@media (max-width: 856px) {
  .specialties-grid {
    grid-template-columns: 1fr; 
    gap: 30px 50px; 
  }

  .specialty-card {
    flex-direction: column; 
    align-items: center;
  }

  .specialty-card img {
    width: 100%; 
    margin-right: 0; 
  }

  .specialty-card h3 {
    font-size: 27px;
  }

  .specialty-card .specialty-p {
    font-size: 20px;
    text-align: center;
  }

  .btn-vermas {
    padding: 10px 15px;
  }
}